#body {background-color: skyblue;}
#banner {background-image: url("images/hawaii.jpeg");
        background-repeat: no-repeat;
        background-size: 1000px 200px;
        background-position: center;
        color: white;
        height: 200px;
        width: 1000px;
        text-align: center;
        line-height: -25%;
        margin: auto;}
#divcontainer {width: 1000px;
              background-color: lime;
              margin: auto;}
#leftcontent {background-color: beige;
             height: 600px;
             width: 200px;
             float: left;
             margin: auto;}
#maincontent {background-color: beige;
             height: 600px;
             width: 800px;
             float: left;
             margin: auto;}
#footer {background-color: tan;
        color: white;
        height: 50px;
        width: 100%;
        clear: both;
        margin: auto;}
#bannerfont {font-size: 50px;
            font-family: Comic sans ms;
            margin: auto;}
#nav {height: 50px;
     width: 1000px;
     margin: auto;
     background-color: skyblue;
     margin-top: 20px;}
.nav {color: darkblue;
     text-decoration: none;
     font-family: Arial, sans-serif;
     font-weight: bold;
     font-size: 25px;}
a.nav:hover {background-color: lightgrey;}
.imageone {position: relative;
          right: -25px;
          border-style: solid;}
.imagetwo {position: relative;
          right: -400px;
          border-style: solid;}
.contentone {position: relative;
            right: -400px;
            bottom: 400px;
            width: 200px;}
.contenttwo {position: relative;
            right: -25px;
            bottom: -130px;
            width: 200px;}
#leftcontent2 {background-color: beige;
             height: 600px;
             width: 497px;
             float: left;
             margin: auto;
             border-right: solid grey;}
#maincontent2 {background-color: beige;
              height: 600px;
              width: 500px;
              float: left;
              margin: auto;}
#banner2 {background-repeat: no-repeat;
         background-size: 1000px 200px;
         background-position: center;
         background-color: beige;
         height: 200px;
         width: 1000px;
         line-height: -25%;
         margin: auto;
         border-bottom: solid grey;}
h2.one {margin-top: 0px;}
img.imagethree {border: solid black;}
#leftcontent3 {background-color: beige;
             height: 600px;
             width: 331px;
             float: left;
             margin: auto;
             border-right: solid grey}
#maincontent3 {background-color: beige;
              height: 600px;
              width: 332px;
              float: left;
              margin: auto;
              border-right: solid grey;}
#rightcontent3 {background-color: beige;
              height: 600px;
              width: 331px;
              float: left;
              margin: auto;}
.links {text-decoration: none;
       color: blue;}
.links2 {text-decoration: none;
         color: black;}
#maincontent4 {background-color: beige;
              height: 600px;
              width: 1000px;
              float: left;
              margin: auto;}
h4.end {font-size: 50px}
img.imagefour {border: solid black;}
.endlink {position: relative;
        top: 50px;
        text-decoration: none;
        color: black;}
.endlink2 {position: relative;
        top: 25px;
        text-decoration: none;
        color: black;}
.endlink3 {position: relative;
        top: 40px;
        text-decoration: none;
        color: black;}
#time {background-color: tan;
      color: white;
      height: 35px;
      width: 100%;
      clear: both;
      margin: auto;
      text-align: center;}